<!DOCTYPE html>
<html>
<head>
	<title>Login</title>

	<link rel="stylesheet" href="Login.css">
</head>
<body>
 <div class="container">
 	<div class="header">
 		<h1>Login</h1>
 	</div>
 	<div class="login">
 		<form>
 			<span>
 				<i class="fa fa-user"></i>
 				<input type="text" placeholder="Username" name="">
 			</span><br>
 			<span>
 				<i class="fa fa-lock"></i>
 				<input type="password" placeholder="Password" name="">
 			</span><br>
			 <button><a href="index.html">Sign in</a></button>

 		</form>
 	</div>
 </div>
</body>
</html>