.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content{
  display: none;
  background: #fff;
  width: 30%;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin: 50px;
}
#show:checked ~ .modal-content{
  display: block;
}
.modal-content .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.modal-content .close-btn:hover{
  color: #3498db;
}
.modal-content .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.modal-content form{
  margin-top: -20px;
}
.modal-content form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .data label{
  font-size: 18px;
}
form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
form .data input:focus{
  border-color: #3498db;
  border-bottom-width: 2px;
}
form .button{
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

form .button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
